/* 

---------- Sumario --------- //
-------- 1- geral
*/



/* ----------- 1. geral --------------
--------------------------------------*/

.bg-area{
    background: #f9f9f9;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.4);
}

.color-text-header{
    color: #5f5f5f; 
}


